In [1]:
import os
import pandas as pd

In [19]:
direccion = r'C:\\Users\\sear2\\Music\\estaciones_clim\\estaciones\\'

In [20]:
direccion

'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\'

In [21]:
archivos = os.listdir(direccion)

In [22]:
print(archivos)

['mes02001.txt', 'mes02002.txt', 'mes03055.txt', 'mes05021.txt', 'mes05210.txt', 'mes15017.txt', 'mes18020.txt', 'mes32001.txt', 'mes32020.txt']

In [23]:
archivos.sort()

In [24]:
print(archivos)

['mes02001.txt', 'mes02002.txt', 'mes03055.txt', 'mes05021.txt', 'mes05210.txt', 'mes15017.txt', 'mes18020.txt', 'mes32001.txt', 'mes32020.txt']

---
# <font color="purple">Se crean las direcciones de archivos y el dataframe final</font>
---

In [25]:
direcciones = []
estaciones = []
multiplos = []
for i in range(len(archivos)):
    direcciones.append(direccion + archivos[i])
    estacion = archivos[i][3:8]
    estaciones.append('annio_' + estacion)
    estaciones.append('maximo_' + estacion)
    estaciones.append('num_datos_' + estacion)
    if i == 0:
        multiplos.append(i)
    else:
        multiplos.append(i * 3)
print('Estaciones --> \n', direcciones, '\n\n')
df = pd.DataFrame(columns=estaciones,
                  index=range(200))
df.head()

print('multiplos --> ', multiplos)

Estaciones -->
 ['C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes02001.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes02002.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes03055.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes05021.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes05210.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes15017.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes18020.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes32001.txt', 'C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes32020.txt']


multiplos -->  [0, 3, 6, 9, 12, 15, 18, 21, 24]

In [30]:
with open('C:\\\\Users\\\\sear2\\\\Music\\\\estaciones_clim\\\\estaciones\\\\mes02001.txt', encoding='utf-8') as mensual:
    lista_mensual = mensual.readlines()

In [35]:
#lista_mensual

In [33]:
for i in range(len(direcciones)):
    
    with open(direcciones[i], encoding='utf-8') as mensual:
        lista_mensual = mensual.readlines()
    
    variable = 23
    renglon = lista_mensual[23].split('\t')
    inicio = renglon[0]
    annio = []
    record = []
    no_reg = []
    while inicio != "MÍNIMA":
        annio.append(inicio) # Año
        lista = [] # Lista de los datos maximos mensuales (12)
        for j in range(1, 13):
            if (renglon[j] != ''):
                lista.append(float(renglon[j]))
            else:
                lista.append(-999.0)
        #print('año --> ', renglon[0], '\n', lista, '\nMáximo --> ', max(lista), '\n\n')
        record.append(max(lista))
        no_reg.append(int(renglon[-1].split('\n')[0])) # Número de registros mensuales
        variable += 1
        renglon = lista_mensual[variable].split('\t')
        inicio = renglon[0]
        columna = multiplos[i]
    for k in range(len(annio)): # Se llena el dataframe
        df.iat[k, columna] = annio[k]
        df.iat[k, columna + 1] = record[k]
        df.iat[k, columna + 2] = no_reg[k]

In [34]:
df.head()

,annio_02001,maximo_02001,num_datos_02001,annio_02002,maximo_02002,num_datos_02002,annio_03055,maximo_03055,num_datos_03055,annio_05021,...,num_datos_15017,annio_18020,maximo_18020,num_datos_18020,annio_32001,maximo_32001,num_datos_32001,annio_32020,maximo_32020,num_datos_32020
0,1969,30.0,12,1953,0.0,4,1954,38.4,9,1924,...,12,1969,56.9,12,1964,29.0,12,1949,37.7,2
1,1970,30.0,12,1954,17.5,12,1955,6.1,12,1925,...,12,1970,41.5,12,1965,25.0,12,1950,43.0,8
2,1971,14.1,12,1955,5.5,12,1956,13.3,11,1926,...,12,1971,41.1,12,1966,42.0,12,1951,47.0,9
3,1972,37.0,12,1956,0.0,12,1957,25.0,12,1927,...,11,1972,71.9,12,1967,37.0,11,1952,32.7,12
4,1973,23.5,12,1957,10.0,11,1958,20.0,12,1928,...,12,1973,64.5,12,1968,38.0,11,1953,47.6,12

In [39]:
df.to_excel('salidas/salida1_pruebas.xlsx', header=True, sheet_name='salida', index=False)

In [12]:
df.shape[1]/3

9.0

In [14]:
multiplos = []
for i in range(len(archivos)):
    if i == 0:
        multiplos.append(i)
    else:
        multiplos.append(i * 2)

In [15]:
print(multiplos)

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [85]:
mensual =  open('mes32001.txt')
lista_mensual= mensual.readlines()
mensual.close()

In [86]:
variable = 23
renglon = lista_mensual[variable].split('\t')

In [87]:
inicio = renglon[0]
annio = []
record = []
no_reg = []
while inicio != "MÍNIMA":
    annio.append(inicio)
    lista = []
    for i in range(1, 13):
        if (renglon[i] != ''):
            lista.append(float(renglon[i]))
        else:
            lista.append(-999.0)
    print('año --> ', renglon[0], '\n', lista, '\nMáximo --> ', max(lista), '\n\n')
    record.append(max(lista))
    no_reg.append(int(renglon[-1].split('\n')[0]))
    variable += 1
    renglon = lista_mensual[variable].split('\t')
    inicio = renglon[0]

año -->  1964
 [10.1, 0.01, 0.01, 5.0, 29.0, 7.0, 15.0, 17.0, 25.0, 9.0, 1.5, 15.0]
Máximo -->  29.0


año -->  1965
 [9.0, 12.0, 1.0, 25.0, 0.01, 12.0, 12.0, 15.0, 24.0, 13.0, 21.0, 21.0]
Máximo -->  25.0


año -->  1966
 [7.0, 2.0, 1.0, 12.0, 21.0, 14.5, 16.5, 35.0, 5.0, 42.0, 0.01, 0.01]
Máximo -->  42.0


año -->  1967
 [12.0, 0.01, 12.0, 2.0, 7.0, 7.0, 32.5, 18.0, 37.0, 8.0, 2.0, -999.0]
Máximo -->  37.0


año -->  1968
 [-999.0, 2.0, 33.5, 12.0, 11.0, 10.0, 38.0, 19.0, 7.0, 8.0, 5.0, 17.0]
Máximo -->  38.0


año -->  1969
 [4.0, 0.01, 0.01, 0.01, 3.5, 6.0, 13.0, 10.0, -999.0, 14.0, 31.0, 2.0]
Máximo -->  31.0


año -->  1970
 [2.5, 16.5, 0.01, 0.0, 2.0, 40.0, 14.5, 41.0, 31.5, 9.0, 0.0, 0.01]
Máximo -->  41.0


año -->  1971
 [2.0, 0.0, 3.0, 0.0, 20.0, 52.0, 4.0, 38.5, 7.5, 30.0, 0.0, 2.0]
Máximo -->  52.0


año -->  1972
 [4.5, 0.0, 12.0, 2.0, 22.0, 36.0, 18.0, 18.0, 24.0, 23.0, 22.0, 4.0]
Máximo -->  36.0


año -->  1973
 [23.0, 2.5, 0.0, 0.0, 6.2, 28.0, 13.0, 20.0, -999.0, -999.0, 0.0, 3.5]
Máximo -->  28.0


año -->  1974
 [0.0, 0.0, 3.0, 1.0, 6.0, 34.0, 8.0, 51.0, 26.5, 7.0, 0.0, 8.0]
Máximo -->  51.0


año -->  1975
 [5.5, 1.0, 0.0, 0.0, 4.0, 14.0, 40.0, 32.0, 10.0, 1.0, 0.0, 6.0]
Máximo -->  40.0


año -->  1976
 [5.0, 0.0, 0.0, 0.0, 8.0, 6.0, 51.0, 17.0, 50.0, 12.0, 18.0, 18.0]
Máximo -->  51.0


año -->  1977
 [4.5, 0.0, 0.0, 10.0, 2.0, 7.0, -999.0, 10.0, 15.0, 25.0, 0.0, 1.0]
Máximo -->  25.0


año -->  1978
 [0.0, 0.0, -999.0, 2.0, 7.0, 8.0, 38.0, 29.0, 29.0, 26.0, 0.0, 5.0]
Máximo -->  38.0


año -->  1979
 [2.0, 1.0, 0.0, 0.5, 4.0, 10.0, 19.0, 8.0, 8.0, 2.0, 2.0, 23.0]
Máximo -->  23.0


año -->  1980
 [4.0, 27.0, 0.0, 9.5, 3.0, 4.0, 20.0, 40.0, 20.0, 10.0, 3.0, 15.0]
Máximo -->  40.0


año -->  1981
 [25.0, 10.0, 0.0, 25.0, 20.0, 15.0, 6.0, 9.1, 14.0, 0.0, 0.0, 0.0]
Máximo -->  25.0


año -->  1982
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 30.0, 19.0, 14.0, 9.0, 13.0, 14.0]
Máximo -->  30.0


año -->  1983
 [8.6, 0.0, 0.0, 0.0, 28.0, 8.0, 22.0, 28.0, 10.0, 5.0, 9.0, 0.0]
Máximo -->  28.0


año -->  1984
 [14.5, 0.0, 0.0, 0.0, 6.0, 6.0, 35.0, 20.0, 5.5, 3.0, 0.0, 7.0]
Máximo -->  35.0


año -->  1985
 [6.0, 17.5, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0]
Máximo -->  17.5


año -->  1987
 [-999.0, 1.6, 0.0, 5.0, 0.0, 0.0, 0.0, 5.0, 0.0, 0.0, 4.6, 4.0]
Máximo -->  5.0


año -->  1988
 [1.3, 0.0, 0.0, 0.0, 0.0, 0.0, -999.0, 21.0, 20.0, 0.0, 2.6, -999.0]
Máximo -->  21.0


año -->  1989
 [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 21.0, 38.0, 16.0, 0.0, 4.0]
Máximo -->  38.0


año -->  1990
 [0.0, 3.0, 0.0, 0.0, 21.0, 15.0, 15.0, 14.0, 33.8, 142.0, 15.0, 0.0]
Máximo -->  142.0


año -->  1991
 [0.0, 27.5, 0.0, 0.0, 2.2, 31.0, 20.0, 12.8, 40.5, 32.0, 5.0, 42.0]
Máximo -->  42.0


año -->  1992
 [27.6, 21.0, 5.0, 15.0, 22.0, 10.0, 45.5, 14.0, 44.8, 22.2, 20.0, 0.0]
Máximo -->  45.5


año -->  1993
 [17.3, 0.01, 1.0, 0.2, 0.5, 6.5, 7.9, 49.2, 26.0, 5.5, 27.9, 2.2]
Máximo -->  49.2


año -->  1994
 [5.2, 0.2, 5.5, 12.0, 7.6, 40.7, 16.5, 14.5, 16.6, 8.5, 0.0, 13.0]
Máximo -->  40.7


año -->  1995
 [4.0, 0.0, 0.01, 0.01, 11.0, 20.0, 15.4, 29.0, 15.4, 0.0, 9.0, 6.5]
Máximo -->  29.0


año -->  1996
 [0.0, 5.5, 0.0, 6.0, 4.5, 14.0, 18.5, 17.0, 11.0, 21.5, 1.5, 0.0]
Máximo -->  21.5


año -->  1997
 [5.2, 11.0, 17.0, 15.8, 17.7, 14.0, 10.4, 7.9, 10.2, 8.9, 6.5, 12.0]
Máximo -->  17.7


año -->  1998
 [2.9, 5.3, 0.01, 3.2, 0.01, 5.8, 2.1, 25.8, 16.9, 3.0, 3.1, 0.01]
Máximo -->  25.8


año -->  2000
 [0.01, 0.01, 0.01, 14.5, 15.6, 18.8, 15.0, -999.0, -999.0, -999.0, -999.0, -999.0]
Máximo -->  18.8


año -->  2001
 [0.0, -999.0, 1.8, 1.2, 14.5, 14.1, 5.2, 11.0, 15.0, 17.1, 8.2, 2.5]
Máximo -->  17.1


año -->  2002
 [9.2, 6.1, 0.01, 3.2, 1.9, 37.5, 23.5, 17.0, 18.5, 23.1, 5.5, 0.01]
Máximo -->  37.5


año -->  2003
 [1.1, 9.0, 0.5, 0.01, 9.3, 18.2, 24.0, 23.5, 39.0, 43.0, 0.0, -999.0]
Máximo -->  43.0


año -->  2005
 [8.4, 19.5, 3.5, 10.0, 20.8, 19.5, 13.5, 9.2, 18.7, 17.0, -999.0, -999.0]
Máximo -->  20.8


año -->  2006
 [16.6, 4.5, 0.0, 1.7, 5.5, 16.3, 34.0, 18.2, 0.0, 8.7, 0.5, 4.0]
Máximo -->  34.0


año -->  2009
 [0.01, 0.0, 3.5, 2.9, 5.2, 16.0, 7.0, 41.5, 26.0, 2.6, 22.8, 28.0]
Máximo -->  41.5


año -->  2010
 [23.0, 20.3, 0.01, 2.1, 1.0, 24.5, 28.0, 9.6, 76.0, -999.0, 0.0, 0.0]
Máximo -->  76.0


año -->  2011
 [0.0, 0.0, 0.0, 0.0, 5.2, 3.0, 18.0, 19.0, 25.5, 8.0, 0.0, 0.0]
Máximo -->  25.5


año -->  2012
 [24.0, 14.0, 0.01, 35.0, 22.0, 5.5, 9.5, 34.5, 65.2, 10.1, 7.0, 5.2]
Máximo -->  65.2


año -->  2013
 [14.2, 0.0, 0.0, 0.01, 5.5, 10.0, 40.0, 10.0, 28.5, 3.5, 40.0, 45.1]
Máximo -->  45.1


año -->  2014
 [6.4, 0.0, 2.3, 0.01, 16.0, 46.0, 20.0, 48.1, 65.2, 5.6, 20.1, 19.5]
Máximo -->  65.2


año -->  2015
 [7.0, 40.0, 30.8, 5.5, 21.1, 83.3, 40.5, 17.5, 21.5, 48.0, 1.9, 2.4]
Máximo -->  83.3


año -->  2016
 [1.4, 1.8, 13.1, 1.6, 15.4, 13.0, 11.3, 51.9, 38.6, 21.0, 11.5, 3.1]
Máximo -->  51.9


año -->  2017
 [0.01, 0.01, 38.0, 0.01, 5.0, 2.9, 38.8, 29.3, 25.0, 3.0, 0.0, 10.0]
Máximo -->  38.8


año -->  2018
 [21.1, 5.9, 1.5, 9.0, 24.3, 38.5, 5.0, 8.6, 38.0, 21.0, 16.4, 14.4]
Máximo -->  38.5


año -->  2019
 [5.8, 0.0, 0.0, 1.5, 5.0, 25.1, 25.9, 20.1, 11.6, 18.6, 30.4, 21.3]
Máximo -->  30.4


año -->  2020
 [-999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, -999.0, 0.0, 3.2]
Máximo -->  3.2


año -->  2021
 [11.9, 0.0, 0.0, 0.01, 11.0, 30.5, 26.6, 43.4, 28.5, 13.8, 0.01, 2.5]
Máximo -->  43.4


año -->  2022
 [0.0, 2.1, 0.0, 2.8, -999.0, 9.2, 32.1, 16.6, 39.5, 31.0, 4.5, 0.0]
Máximo -->  39.5

In [88]:
print(len(annio), annio, '\n\n')
print(len(record), record, '\n\n')
print(len(no_reg), no_reg)

54 ['1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '2000', '2001', '2002', '2003', '2005', '2006', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022']


54 [29.0, 25.0, 42.0, 37.0, 38.0, 31.0, 41.0, 52.0, 36.0, 28.0, 51.0, 40.0, 51.0, 25.0, 38.0, 23.0, 40.0, 25.0, 30.0, 28.0, 35.0, 17.5, 5.0, 21.0, 38.0, 142.0, 42.0, 45.5, 49.2, 40.7, 29.0, 21.5, 17.7, 25.8, 18.8, 17.1, 37.5, 43.0, 20.8, 34.0, 41.5, 76.0, 25.5, 65.2, 45.1, 65.2, 83.3, 51.9, 38.8, 38.5, 30.4, 3.2, 43.4, 39.5]


54 [12, 12, 12, 11, 11, 11, 12, 12, 12, 10, 12, 12, 12, 11, 11, 12, 12, 12, 12, 12, 12, 2, 11, 10, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 7, 11, 12, 11, 10, 12, 12, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 2, 12, 11]

In [91]:
import pandas as pd
estacion = '32001'
columna_1 = 'annio_' + estacion
columna_2 = 'max_' + estacion
columna_3 = 'no_datos_' + estacion
df = pd.DataFrame({
    columna_1: annio,
    columna_2: record,
    columna_3: no_reg,
})

In [92]:
df.head()

  annio_32001  max_32001  no_datos_32001
0        1964       29.0              12
1        1965       25.0              12
2        1966       42.0              12
3        1967       37.0              11
4        1968       38.0              11